<?xml version="1.0" ?>
<config>
    <modules>
        <Mojam_Banners>
            <version>0.0.1</version>
        </Mojam_Banners>
    </modules>

    <admin>
        <routers>
            <mojambanners_admin>
                <use>admin</use>
                <args>
                    <module>Mojam_Banners</module>
                    <frontName>banners_admin</frontName>
                </args>
            </mojambanners_admin>
        </routers>
    </admin>

    <adminhtml>
       
            <menu>
                 <cms module="adminhtml">
                    <children>
                        <mojambanners module="mojambanners">
                            <title>Banners</title>
                            <sort_order>100</sort_order>
                            <action>mojambanners_admin/adminhtml_banners</action>
                        </mojambanners>
                    </children>
                 </cms>   
            </menu>
        
    </adminhtml>

  <frontend>
        <layout>
            <updates>
                <mojambanners>
                    <file>mojam_banners.xml</file>
                </mojambanners>
            </updates>
        </layout>

        <routers>
            <mojambanners>
                <use>standard</use>
                <args>
                    <module>Mojam_Banners</module>
                    <frontName>Banners</frontName>
                </args>
            </mojambanners>
        </routers>
    </frontend>

    <global>
        <blocks>
            <mojambanners>
                <class>Mojam_Banners_Block</class>
            </mojambanners>
        </blocks>
	<models>

            <mojambanners>
		<class>Mojam_Banners_Model</class>
                <resourceModel>mojambanners_resource</resourceModel>
            </mojambanners>
            <mojambanners_resource>
		<class>Mojam_Banners_Model_Resource</class>
                <entities>
                    <table_mojambanners>
                        <table>mojam_banners_entities</table>
                    </table_mojambanners>
                </entities>
            </mojambanners_resource>
        </models>

        <resources>
            <mojambanners_setup>
                <setup>
                    <module>Mojam_Banners</module>
                </setup>
            </mojambanners_setup>
        </resources>
        <helpers>
            <mojambanners>
                <class>Mojam_Banners_Helper</class>
            </mojambanners>
        </helpers>
    </global>


</config>
